body {
    font-family: Helvetica, sans-serif;
    padding-left: 20%;
    width: 60%;
}

#title {
    padding-top: 10px;
    margin: 0px;
    font-size: 40px;
}

#subtitle {
    padding-top: 10px;
    margin: 0px;
    font-weight: 400;
    color: #AAAAAA;
    padding-left: 50px;
}

header {
    border-bottom: 2px solid black;
}

h4 {
    font-weight: 600;
    font-size: 1.1em;
}

figure {
    width: 300px;
    margin: 0px;
    float: left;
    margin-right: 20px;
}

figcaption {
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: .8em;
}

div.section {
    border-top: 2px solid black;
    clear: left;
}

img {
    max-height: 300px;
    max-width: 300px;
    display: block;
}

footer {
    border-top: 4px solid black;
    clear: left;
}